@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap'); 
* {
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 700; 
}

body{
  background-color: hsl(222, 26%, 31%);  
  text-align: center;
}
.main{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.toggle{
	display: flex;
	justify-content: space-between;
}
.numbers{
	display: flex;
	justify-content: space-around;
  color:white;
  width: 60px;
}
h3{
	color: #FFF;
}
.control{
	display: flex;
	justify-content: flex-end;
  width:395px;
}
.control #circle{
	width: 15px;
	height: 15px;
	background-color: hsl(6, 63%, 50%);
	position: absolute;
	border-radius: 30px;
}
.control .box{
	width: 60px;
	height: 15px;
	background-color: hsl(224, 36%, 15%);
	border-radius: 30px;
	margin-left: 4px;
	position: relative;  
}

.headersection{
  width: 395px;
  display: flex;
  justify-content: space-between;  
  font-size: 16px;;
}
.displayTextBox{
    width: 395px;
    height: 100px;
    margin: 10px 0;
    text-align: right;
    font-size: 32px;
    background-color: hsl(224, 36%, 15%);
    color: #FFF;
    border: none;    
    border-radius: 7px;  
}
.buttonGroup{
  display: flex;
	width: 390px;
	flex-flow: wrap;
	background-color: hsl(224, 36%, 15%);
	padding: 10px 5px;
	margin: 8px 0;
	border-radius: 7px;
}
button{
	width: 80px;
  padding: 13px;  
  border: 0;
  box-shadow: 0px 3px 0px 0px hsl(28, 16%, 65%);
  border-radius: 5px;  
  margin: 8px 8px;
  font-size: 25px;    
}
.delButton{
  background: hsl(225, 21%, 49%); 
  color: white;
}
 .resetButton{  
	color: #FFF;
}
.equalButton{
  background: hsl(6, 63%, 50%);
  color: white;
  width: 100px;
  box-shadow: hsl(6, 70%, 34%);
}
.resetButton, .delButton{
	box-shadow: 0px 3px 0px 0px hsl(224, 28%, 35%);
	background-color: hsl(225, 21%, 49%);
	color: #FFF;

}
.resetButton, .equalButton{
	width: 176px;
	color: #FFF;

}
